<h1>Edit friend</h1>

<%= render "form", friend: @friend %>

<br>

<div>
  <%= link_to "Show", @friend, class: 'btn btn-info', style: 'border-radius:0px;'  %>
  <%= link_to "Back", friends_path, class: 'btn btn-dark', style: 'border-radius:0px;' %>
</div>
